<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
</head>
<body>
фильтры
<form action="/filter">
    <input type="checkbox" checked="checked" name="withImg">
    <input type="checkbox" checked="checked" name="withOutImg">
    <input type="submit" title="применить">
</form>
<p th:each="type: ${types}">
    <a th:href="@{/type/{type}(type=${type})}" th:text="${type}">тип</a>
</p>

<h1>Список товаров</h1>
<table border="1">
    <tr>
        <th>Название товара</th>
    </tr>
    </tr>
    <tr th:each="product : ${products}">
        <td>
            <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}">Название товара</a>
        </td>
        <td>
            /prodInfo?id=<span th:text="${product.id}"/>
        </td>
        <td>
            <a th:href="@{'/prodInfo?id=' + ${product.id}}"> жамк</a>
        </td>
        <td>
            <a th:href="@{'/deleteProd?id=' + ${product.id}}"> УДАЛИТЬ</a>
        </td>
    </tr>
</table>
</body>
</html>